<section>
  <angucomplete-alt id="ex1"
    placeholder="Search champions"
    pause="100"
    selected-object="selectedChampion"
    local-data="champions"
    search-fields="name"
    title-field="name"
    minlength="1"
    input-class="form-control form-control-small"
  />
</section>

<!--
  selected-object: fired when an option is selected
  local-data: list of data the autocomplete will filter
  search-fields: fields in data to check against
  title-field: used for display, can be same as search-field
-->
