<section>
  <div class="page-header">
    <h1>Itemlabs</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="itemlab in vm.itemlabs"
       ui-sref="itemlabs.view({ itemlabId: itemlab._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="itemlab.created | date:'mediumDate'"></span>
        by
        <span ng-if="itemlab.user" ng-bind="itemlab.user.displayName"></span>
        <span ng-if="!itemlab.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="itemlab.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.itemlabs.$resolved && !vm.itemlabs.length">
    No Itemlabs yet, why don't you <a ui-sref="itemlabs.create">create one</a>?
  </div>
</section>
