<section>
  <angucomplete-alt id="search"
    placeholder="Search champions..."
    pause="100"
    selected-object="selectedChampion"
    local-data="champions"
    search-fields="name"
    title-field="name"
    image-field="image"
    minlength="1"
    input-class="form-control form-control-small"
  />
</section>

<div ng-show="champion" class="champion container">
  <div id="championInfo" class="group">
    <img src="{{champion[1]}}{{champion[2]}}/img/champion/{{champion[0].image.full}}" alt="League of Legends champion {{champion[0].name}} picture." />
    <h2 ng-bind="champion[0].name"></h2>
    <p ng-bind="champion[0].title"></p>
  </div>

  <div class="stats">
    <ul>
      <li ng-repeat="(key, value) in champion[0].stats">{{key}}: {{value}}</li>
    </ul>
  </div>
</div>
